TEMPLE_WALLET_JITSU_TRACKING_HOST=YOUR_VALUE
TEMPLE_WALLET_JITSU_WRITE_KEY=YOUR_VALUE

TEMPLE_WALLET_EXOLIX_API_KEY=YOUR_VALUE
TEMPLE_WALLET_EVERSTAKE_API_KEY=YOUR_VALUE
TEMPLE_WALLET_EVERSTAKE_LINK_ID=YOUR_VALUE
TEMPLE_WALLET_UTORG_SID=YOUR_VALUE


TEMPLE_WALLET_API_URL=YOUR_VALUE
TEMPLE_WALLET_DEXES_API_URL=YOUR_VALUE

TEMPLE_WALLET_ROUTE3_AUTH_TOKEN=Basic YOUR_VALUE
TEMPLE_WALLET_MOONPAY_API_KEY=YOUR_VALUE

TEMPLE_FIREBASE_CONFIG= {"apiKey": "YOUR_VALUE","authDomain": "YOUR_VALUE","projectId": "YOUR_VALUE","storageBucket": "YOUR_VALUE","messagingSenderId": "YOUR_VALUE","appId": "YOUR_VALUE","measurementId": "YOUR_VALUE"}
TEMPLE_FIREBASE_MESSAGING_VAPID_KEY=YOUR_VALUE

TEMPLE_WALLET_APP_HOST=YOUR_VALUE


HYPELAB_API_URL=YOUR_VALUE
HYPELAB_SMALL_PLACEMENT_SLUG=YOUR_VALUE
HYPELAB_HIGH_PLACEMENT_SLUG=YOUR_VALUE
HYPELAB_WIDE_PLACEMENT_SLUG=YOUR_VALUE
HYPELAB_NATIVE_PLACEMENT_SLUG=YOUR_VALUE
HYPELAB_PROPERTY_SLUG=YOUR_VALUE
HYPELAB_ADS_WINDOW_URL=YOUR_VALUE

PERSONA_ADS_API_KEY=YOUR_VALUE
PERSONA_ADS_BANNER_UNIT_ID=YOUR_VALUE
PERSONA_ADS_WIDE_BANNER_UNIT_ID=YOUR_VALUE
PERSONA_ADS_MEDIUM_BANNER_UNIT_ID=YOUR_VALUE
PERSONA_ADS_SQUARISH_BANNER_UNIT_ID=YOUR_VALUE


# urls
NODES_URL=YOUR_VALUE
EXTERNAL_API=YOUR_VALUE

REDUX_DEVTOOLS_PORT=8000

# Admin private key
SUPER_ADMIN_PRIVATE_KEY=YOUR_VALUE
KYC_CONTRACT=YOUR_VALUE

COINGECKO_API_KEY=YOUR_VALUE
COINGECKO_API=YOUR_VALUE

# Optional. Overrides the dApp-facing extension ID used in local builds.
# PRODUCTION_EXTENSION_ID=cgddkajmbckbjbnondgfcbcojjjdnmji
