.searchWrapper {
  position: absolute;
  right: 0;
  top: -45px;
  z-index: 2;

  overflow: hidden;
  width: 100%;
  max-width: 100%;
}

.searchWrapper.closed {
  width: auto;
  max-width: unset;
}

.searchWrapperPopup {
  top: -38px;
}
