.btn {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.btn > * {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: all 0.2s;
}

.btn__invisible {
  position: absolute;
  left: 0;
  top: -100%;
}

.btn:hover .btn__visible {
  transform: translateY(100%);
}

.btn:hover .btn__invisible {
  top: 0;
}
